<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system/>
  <!-- 시스템 관리자가 사용해야 할 XML -->
  <xml fileName="conf.properties.xml" encoding="UTF-8" />
  
  <!-- DB 값에 의해서 실시간 반영해야할 config -->
  <xml fileName="conf-db.properties.xml" encoding="UTF-8" />
  
  <!-- WEB_COMMON_CODE 를 가지고 생성되어 사용 -->
  <xml fileName="pageCode.xml" at="pageCode" encoding="EUC-KR" />
  
 
  <!-- 
  <xml fileName="DBCode.xml" at="DBCode" encoding="EUC-KR" />   
  <xml fileName="DBCode.xml" at="DBCode.xml" encoding="EUC-KR" />
   -->
  <!-- 
  	디비를 통한 환경 설정값 관리에 사용된다.
  <xml fileName="tables.xml" at="tables" />
   -->  
</configuration>
